<head>
  <title>About | Ruby on Rails Tutorial Myrails App</title>
</head>
<body>
  <div class="center jumbotron">
  <h1>About Myrails app</h1>

  <h2>
    This is for Post the microposts.
  </h2>

</div>
</body>
