/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";

 body {
  padding-top: 80px;
}
.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

h1{
  text-align: center;
}
p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/*Header logo css*/
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: capitalize;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.col-md-6{
  float:right;
  border-top: 1px solid green;

}
input{
  margin-bottom: 15px;
  width:100%;
}

/*error messages css*/
.error_messages{
  color:red;
}
.field_with_errors{
  background-color: white;
  @extend .has-error;
.form-control {
  color: $state-danger-text;
}
}
